<div class="alert alert-info">
  <p>It is good practice to collect the Personal info for an account- especially email addresses  to communicate with the user later. </p>
    <p> Staff status permits the user to log into the Saturnring portal. </p>
    <p> The user needs to at least have Target permissions  (Add/change/delete) in order to do anything useful with the portal, such as viewing/deleting her storage </p>
    <p> The quota form checks the validity of the request automatically (whether enough storage is available)  </p>
</div>
