{% extends "admin/base.html" %}
{% load clustername %}
{% load totalquota %}
{% load usedquota %}
{% load maxlunsize %}
{% load clusterinfo %}
{% block title %}{{ title }} {% get_clustername %}  {{ site_title }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Saturn Ring Storage Portal for {% get_clustername %}: {% get_clusterinfo %}</a></h1>
{% if user.is_authenticated %}
	{% with theuser=user.get_username %}
		<h2 id="Quota information: "><a href="{% url 'admin:index' %}"> <p right> {{ user.username }} user quota {% get_totalquota theuser %}, Already used {% get_usedquota theuser %}, Maximum allowed iSCSI target size {% get_maxlunsize theuser %}</a></h2>
	{% endwith %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}
