Django==1.6
GitPython==0.1.7
Markdown==2.4
PyYAML==3.10
South==0.8.4
argparse==1.2.1
coverage==3.7.1
django-admin-bootstrapped==2.3.5
django-admin-changelist-stats==0.2
django-auth-ldap==1.2.0
django-bootstrap3==5.4.0
django-filter==0.7
django-rq==0.6.1
djangorestframework==2.3.13
docutils==0.12
dulwich==0.9.7
ecdsa==0.11
ipaddress==1.0.6
paramiko==1.13.0
psycopg2==2.5.3
pycrypto==2.6.1
pysqlite==2.6.3
python-dateutil==2.2
python-ldap==2.4.15
pytz==2014.2
redis==2.9.1
rq==0.3.13
rq-scheduler==0.4.0
six==1.6.1
times==0.6.2
wsgiref==0.1.2
xlrd==0.9.3
xlwt==0.7.5
